.card{
    border: none !important;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .card:hover{
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    border: none !important;
    border-radius: 1rem !important;
  
    width: 100% !important;
    object-fit: cover !important;
  }
  
  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }